*{
    margin: 0%;
    padding: 0%;
}

input, textarea, button, select {
    font: inherit;
}

body {
    background-image: url(/images/background-landscape.jpg);
    background-size: cover;
}

#mainBody {
    display: grid;
}

#labelPanel {
    color: whitesmoke;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
}

#formPanel {
    color: darkslategrey;
    background-color: whitesmoke;
    grid-column-start: 2;
    grid-column-end: 3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formGrid {
    display: grid;
}