*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input, textarea, button, select {
    font: inherit;
}

body {
    background-image: url(/images/background-landscape.jpg);
    background-size: cover;
}

#mainBody {
    display: grid;
}

#labelPanel {
    color: antiquewhite;
    grid-column-start: 1;
    grid-column-end: 2;
}

#formPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 10%;
    color: rgb(54, 42, 3);
    background-color: whitesmoke;
    grid-column-start: 2;
    grid-column-end: 3;
}

#credit {
    color: whitesmoke;
}